.SC_Knob {
  display: flex; /* Используем flexbox для центрирования содержимого */
  flex-direction: column; /* Выравниваем элементы по вертикали */
  justify-content: flex-start; /* Располагаем элементы от верхнего края */
  align-items: center; /* Центрируем элементы по горизонтали */
}

/* Контейнер для самого кноба */
.SC_Knob .wrapper {
  position: relative; /* Для абсолютного позиционирования дочерних элементов */
  width: 141px; /* Устанавливаем фиксированную ширину */
  height: 127px; /* Устанавливаем фиксированную высоту */
  margin-bottom: 0px; /* Убираем отступ снизу */
  user-select: none; /* Отключаем выделение текста для лучшего UX */
}

/* Название, которое будет располагаться сверху */
.SC_Knob .name {
  position: absolute; /* Абсолютное позиционирование для точного контроля */
  top: -40px; /* Поднимаем название над кнобом */
  left: 50%; /* Центрируем название по горизонтали */
  transform: translateX(
    -50%
  ); /* Исправляем точное центрирование по горизонтали */

  font-size: 32px; /* Устанавливаем большой размер шрифта для заголовка */
  font-weight: 400; /* Обычный вес шрифта */
  text-align: center; /* Выравнивание текста по центру */
  color: var(--semi-grey); /* Цвет текста - полу-серый */
}

/* Основной контейнер для тела кноба */
.SC_Knob .body {
  position: absolute; /* Позиционируем внутри родительского элемента */
  left: 50%; /* Центрируем по горизонтали */
  top: 50%; /* Центрируем по вертикали */
  transform: translate(-50%, -50%); /* Смещаем, чтобы точка была в центре */
}

/* Стилизуем сам круглый элемент кноба */
.SC_Knob .body div {
  position: absolute; /* Абсолютное позиционирование */
  top: 0; /* Верхний отступ */
  left: 0; /* Левый отступ */
  width: 95px; /* Ширина кноба */
  height: 95px; /* Высота кноба */
  background: var(--pure-white); /* Белый цвет фона */
  border-radius: 50%; /* Скругляем углы, делаем круг */
  z-index: 1; /* Устанавливаем на передний план */
}

/* Эффект при наведении */
.SC_Knob .body div:hover {
  filter: brightness(90%); /* Уменьшаем яркость при наведении */
  cursor: pointer; /* Меняем курсор на указатель */
}

/* Маленькая точка в центре кноба */
.SC_Knob .body div::before {
  position: absolute;
  top: 0;
  left: 28px;
  display: block; /* Блочный элемент */
  content: ''; /* Пустое содержимое */
  width: 9.5px; /* Ширина точки */
  height: 9.5px; /* Высота точки */
  background: var(--soft-black); /* Цвет точки */
  border-radius: 50%; /* Скругляем, делаем круг */
}

/* Убираем все визуальные элементы, такие как риски, буллеты и значения */
.SC_Knob .group,
.SC_Knob .bullet,
.SC_Knob .lastBullet,
.SC_Knob .value,
.SC_Knob #value7,
.SC_Knob #value9,
.SC_Knob #value11,
.SC_Knob #value12,
.SC_Knob #value2,
.SC_Knob #value3,
.SC_Knob #value5 {
  display: none; /* Просто скрываем все ненужные элементы */
}
