.SC_Knob {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.SC_Knob .wrapper {
  position: relative;
  width: 180px;
  height: 180px;
  margin-bottom: 14px;
  user-select: none;
  /* background: var(--medium-grey); */
}

.SC_Knob .wrapper h3 {
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.SC_Knob .body {
  position: absolute;
  left: 60px;
  top: 86px;
}

.SC_Knob .body div {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: var(--white);
  border-radius: 50%;
  z-index: 1;
}

.SC_Knob .body div:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.SC_Knob .body div::before {
  position: absolute;
  top: 0;
  left: 28px;
  display: block;
  content: '';
  width: 4px;
  height: 20px;
  background: var(--dark-green);
}

.SC_Knob .value {
  position: absolute;
  top: 55px;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  display: flex;
  width: 22px;
  height: 13px;
  font-size: 10px;
  font-weight: 400;
  color: var(--white);
}

.SC_Knob .bullet {
  width: 4px;
  height: 9px;
  background-color: var(--white);
}

.SC_Knob .group {
  position: absolute;
  height: 93px;
  width: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.SC_Knob #group1 {
  transform: rotate(90deg);
  left: 88px;
  top: 70px;
}

.SC_Knob #group2 {
  transform: rotate(45deg);
  left: 89px;
  top: 70px;
}

.SC_Knob #group3 {
  top: 70px;
  left: 87px;
  transform: rotate(-45deg);
}

.SC_Knob .lastBullet {
  width: 4px;
  height: 9px;
  left: 88px;
  top: 70px;
  background-color: var(--white);
  position: absolute;
}

.SC_Knob .name {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 150px;
  height: 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.SC_Knob #value7 {
  top: 148px;
  left: 31px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.SC_Knob #value9 {
  top: 109px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.SC_Knob #value11 {
  top: 71px;
  left: 31px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.SC_Knob #value12 {
  top: 55px;
  left: 79px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SC_Knob #value2 {
  top: 71px;
  right: 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
}

.SC_Knob #value3 {
  top: 109px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
}

.SC_Knob #value5 {
  top: 148px;
  right: 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
}
