.SC_Slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.SC_Slider h3 {
  margin-bottom: 14px;
  font-size: 16px;
}

.SC_Slider input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
}

.SC_Slider input[type='range']::-webkit-slider-runnable-track {
  height: 4px;
  background: var(--white);
  border: none;
}

.SC_Slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--dark-green);
  margin-top: -6px;
  cursor: pointer;
}

.SC_Slider input[type='range']:focus {
  outline: none;
}

.SC_Slider input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--white);
}
