.SC_ToggleButton {
  padding: 8px 10px;
  font-size: 64px;
  font-family: 'Neue Haas Unica';
  text-align: center;
  text-transform: lowercase;
  background-color: var(--pure-white);
  color: var(--semi-grey);
  cursor: pointer;
  width: 440px;
  height: 64px;
  margin-bottom: 4px;
  letter-spacing: -0.08em;
}

.SC_ToggleButton:hover:not(.active) {
  background-color: var(--light-grey);
}

.SC_ToggleButton.active {
  color: var(--pure-white);
  background-color: var(--semi-grey);
  cursor: default;
}
