.SC_ToggleButtonSet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.SC_ToggleButtonSet h3 {
  font-size: 32px;
  margin-bottom: 8px;
  color: var(--semi-grey);
  letter-spacing: -0.08em;
  text-transform: lowercase;
}

.SC_ToggleButtonSet > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
